Raw Data Transformation

In [11]:
### Import Packages
import pandas as pd
import numpy
import os
import glob
#from Jira_Raw_Data import Jira_Raw_Data_Transform


### Transforms go here

In [12]:
### Pull in and load csvs into one dataframe
all_files = glob.glob("C:/Users/Marvin/Desktop/RTX Docs/RTX_Python_ETL/Jira_Data/" + "*csv")
csv_list = [pd.read_csv(filename, index_col=None, header=0) for filename in all_files]
df_JiraRaw = pd.concat(csv_list, axis=0, ignore_index=True)

C:\Users\Marvin\AppData\Local\Temp\ipykernel_15732\4162609258.py:3: DtypeWarning: Columns (26,27,28,32,33,37,38,39,40,49,50,52,53,54,55,56,57,58,59,60,61,62,65,66,68,69,70,71,72,73,74,75,76,77,78,79,80,81,83,84,86,87,88,89,90,91,92,93,94,95,96,97,112,114,118,119,123,126,128,129,130,131,132,133,134,135,165,168,169,170,178,185,186,188,192,193,204,205,206,207,208,209,210,211,212,217,231,236,237,238,239,240,241,242,243,244,245,246,247,248,249) have mixed types. Specify dtype option on import or set low_memory=False.
  csv_list = [pd.read_csv(filename, index_col=None, header=0) for filename in all_files]

In [13]:
df_JiraRaw

,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,Project lead,...,Planned Closed,Resolution Month,Planned Month,Resolution EOM,Planned EOM,Planned Year,Resolved Year,Created EOW,Created EOM,Created Year
0,BPM/RPA W1 Test standalone HR apps in Blue Pri...,NOPT-1000,289439,NaN,Story,Cancelled,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BPM/RPA W1 Test standalone Finance Automations...,NOPT-999,289438,NaN,Story,Cancelled,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BPM/RPA W1 Test standalone EAS apps in Blue Pr...,NOPT-998,289436,NaN,Story,Done,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BPM/RPA W1 Go-Live for standalone HR Automatio...,NOPT-997,289434,NaN,Story,Cancelled,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PI 1 Objective: E1 - Train the Trainer,NOPT-996,289219,NaN,Objective,Complete,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14680,MFA Product Selection Finalized,NOPT-9100,364370,NaN,Feature,In Progress,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,3/4/2022,NaN,February,NaN,2/28/2022,2022.0,NaN,44589.0,44592.0,2022.0
14681,CTI - Next instance for testing Error,NOPT-9099,364363,NaN,Bug,Done,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,February,NaN,2/28/2022,NaN,NaN,2022.0,44589.0,44592.0,2022.0
14682,UIDC - RISK - Script determined unsuccessful,NOPT-9098,364927,NaN,Risk,Resolved,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,February,NaN,2/28/2022,NaN,NaN,2022.0,44589.0,44592.0,2022.0
14683,UIDC - Service Desk,NOPT-9097,364926,NaN,Risk,Resolved,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,February,NaN,2/28/2022,NaN,NaN,2022.0,44589.0,44592.0,2022.0
14684,UIDC - RISK - Self Conversion ELSE Forced Conv...,NOPT-9096,364924,NaN,Risk,Resolved,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,February,NaN,2/28/2022,NaN,NaN,2022.0,44589.0,44592.0,2022.0

In [14]:
df_JiraRaw.head()

,Summary,Issue key,Issue id,Parent id,Issue Type,Status,Project key,Project name,Project type,Project lead,...,Planned Closed,Resolution Month,Planned Month,Resolution EOM,Planned EOM,Planned Year,Resolved Year,Created EOW,Created EOM,Created Year
0,BPM/RPA W1 Test standalone HR apps in Blue Pri...,NOPT-1000,289439,NaN,Story,Cancelled,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BPM/RPA W1 Test standalone Finance Automations...,NOPT-999,289438,NaN,Story,Cancelled,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BPM/RPA W1 Test standalone EAS apps in Blue Pr...,NOPT-998,289436,NaN,Story,Done,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BPM/RPA W1 Go-Live for standalone HR Automatio...,NOPT-997,289434,NaN,Story,Cancelled,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PI 1 Objective: E1 - Train the Trainer,NOPT-996,289219,NaN,Objective,Complete,NOPT,NTD - Optimus,software,erika.childree@raytheon.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_JiraRaw['Issue key']

0        NOPT-1000
1         NOPT-999
2         NOPT-998
3         NOPT-997
4         NOPT-996
           ...
14680    NOPT-9100
14681    NOPT-9099
14682    NOPT-9098
14683    NOPT-9097
14684    NOPT-9096
Name: Issue key, Length: 14685, dtype: object

In [16]:
df_JiraRaw['Issue key'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
14680    False
14681    False
14682    False
14683    False
14684    False
Name: Issue key, Length: 14685, dtype: bool

In [17]:
df_JiraRaw['Issue key'].values

array(['NOPT-1000', 'NOPT-999', 'NOPT-998', ..., 'NOPT-9098', 'NOPT-9097',
       'NOPT-9096'], dtype=object)